{{define "footer"}}
<footer class="page-footer teal lighten-3">
	<div class="container">
    	<div class="row">
			<div class="col l6 s12">
            	<h3 class="white-text">Priva</h3>
                <h5 class="grey-text text-lighten-4">Private Shipping</h5>
            </div>
            <div class="col l4 offset-l2 s12">
				<ul>
					<li><a id="footer-menu" class="grey-text text-lighten-3" href="#!">About Us</a></li>
					<li><a id="footer-menu" class="grey-text text-lighten-3" href="#!">Contact Us</a></li>
					<li><a id="footer-menu" class="grey-text text-lighten-3" href="#!">Investors</a></li>
					<li><a id="footer-menu" class="grey-text text-lighten-3" href="#!">Privacy Policy</a></li>
					<li><a id="footer-menu" class="grey-text text-lighten-3" href="#!">Return Policy</a></li>
				</ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright teal lighten-2">
		<div class="container">
        	© 2020 Copyright Priva
        	<a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
{{end}}