{{define "yield"}}
	<div class="row">
		<h1 class="teal-text">Priva</h1>
		<h4 class="teal-text">Private Shipping</h4>
	</div>
	<div class="divider" style="margin-bottom:6%;"></div>
	<div class="row">
		<div class="col s12 m10 offset-m1 l8 offset-l2">
			<div id="landing-search" class="row teal lighten-5">
				<div class="input-field col s11 m10 offset-m1 l10 offset-l1">
					 <i class="material-icons prefix teal-text text-lighten-1">search</i>
					 <input id="icon_prefix" type="text" class="validate teal-text">
					 <label for="icon_prefix teal-text">Search anyone..</label>
				</div>
		  	</div>
		</div>
	</div>
	<div class="row">
		<div class="col s12 m6 offset-m3 center">
			<a href="/login">
				<button class="btn waves-effect waves-light teal lighten-4 teal-text" 
						style="margin-right:6%;border:solid 2px teal;border-radius:12px 4px;" type="submit" name="action"> LOGIN
				 	<i class="material-icons right">lock_outline</i>
				</button>
			</a>
			<a href="/signup">
				<button class="btn waves-effect waves-light teal lighten-1" style="border-radius:12px 4px;" type="submit" name="action">SIGNUP
					<i class="material-icons right">person_outline</i>
				</button>
			</a>
		</div>
	</div>
	<div class="row" style="margin-top:15%;">
		<h4 class="teal-text">What is Priva?</h4>
		<p>
			Ship or recieve a package with only a username, not your real address.
		</p>	
	</div>
	<div class="row">
		<div class="col s12 m6">
		  <div class="card teal lighten-5">
			<div class="card-content teal-text">
			  <span class="card-title teal-text">Card Title</span>
			  <p>I am a very simple card. I am good at containing small bits of information.
			  I am convenient because I require little markup to use effectively.</p>
			</div>
			<div class="card-action">
			  <a class="teal-text" href="#">This is a link</a>
			  <a class="teal-text" href="#">This is a link</a>
			</div>
		  </div>
		</div>
	</div>
	<div class="row">
		<h3 class="teal-text">What is Priva?</h3>
		<p>
			 A digital PO box of sorts. 
		</p>
		<img id="landing-cover" src="assets/images/priva-landing-cover.png">
		<p>
			You can pick and choose what mail to receieve.
		</p>
	</div>
{{end}}